@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  margin: 0;
}

.img-container {
  img {
    max-width: 100%;
  }
}

.element-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.required {
  color: #e2401c;
}

.dropdown {
  z-index: 9999;
  position: relative;
}

.horizontal-separatop {
  width: 100%;
  border-top: solid 0.8px #303030;
  display: inline-block;
}
