@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Roboto&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "@fortawesome/fontawesome-free/css/all.css";

* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "Gilroy-Medium", sans-serif;
  margin: 0;
}

.img-container {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.element-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.required {
  color: #e2401c;
}

.dropdown {
  z-index: 10;
  position: relative;
}

.horizontal-separatop {
  width: 100%;
  border-top: solid 0.8px #303030;
  display: inline-block;
}

p,
ul {
  line-height: 27px;
}
