<div class="content">
    <h2>Бажаєте відкрити власний ресторан чи бізнес із доставки страв по місту, але не знаєте з чого почати?</h2>
    <p>Не переймайтеся! Адже можна використовувати вже перевірений бренд із готовою маркетинговою стратегією та
        мінімальними затратами! Для цього варто обрати франшизу доставки їжі від <strong>Cafe Sushi&Pizza.</strong>
    </p>
    <div class="quote">
        <i class="fa-solid fa-quote-left"></i>
        <h5>Ми створили дійсно популярну компанію, яка постійно збільшує кількість постійних клієнтів.</h5>
        <p><strong>Cafe Sushi&Pizza</strong> – відома та популярна мережа доставки їжі. Наша компанія розпочала свою
            діяльність у
            Львові, але не зупинилася на досягнутому, відкриваючи філіали у інших містах. Зараз сервіс успішно працює у
            Червонограді, Рівному, Хмельницькому, Івано-Франківську та у Словаччині місто Прешов.</p>
    </div>
    <div class="quote">
        <i class="fa-solid fa-quote-left"></i>
        <h5>Ми динамічно розвиваємося та вдосконалюємося. Це дозволяє тільки покращувати сервіс та якість.</h5>
        <p>Франшиза доставки їжі від <strong>Cafe Sushi&Pizza</strong> – – це можливість для ефективного старту
            бізнесу та його
            динамічного розвитку. Наша справа успішна та постійна. Ми робимо все, щоб залишатися лідерами й надалі.
            Компанії-партнери розвиваються й просуваються вперед разом із нами.</p>
    </div>
    <h3>Час стати частиною перевіреного бізнесу.</h3>
    <h4>Обираючи франшизу Cafe Sushi&Pizza ви отримуєте такі переваги:</h4>
    <div class="opportunities">
        <ul>
            <li>
                <h5>
                    Навчання та вдосконалення.
                </h5>
            </li>
        </ul>
        <p>
            Повне безкоштовне навчання персоналу.
            <br>
            Унікальні рецепти страв. Таким чином ви отримуєте головний інструмент для створення успішного бізнесу.
        </p>
        <ul>
            <li>
                <h5>
                    Ефективне просування.
                </h5>
            </li>
        </ul>
        <p>
            Готова концепція закладу. Повне маркетинг забезпечення під час всієї роботи проекту з урахуванням
            особливостей кожного міста. Ми
            <br>
            розділимо з вами стратегію розвитку та концепції успішних акцій.
        </p>
        <ul>
            <li>
                <h5>
                    Підтримка та аудит.
                </h5>
            </li>
        </ul>
        <p>
            Ми піклуємося про партнерів, та готові до плідної співпраці. Досвідчені менеджери швидко виявляють недоліки
            та допомагають у їх усуненні.
        </p>
        <ul>
            <li>
                <h5>
                    Економія.
                </h5>
            </li>
        </ul>
        <p>
            Єдині стандарти
            <br>
            Брендовані матеріали
            <br>
            Насолоджуйтесь максимальним результатом при мінімальних інвестиціях!
        </p>
    </div>
    <div class="quote">
        <div class="container">
            <i class="fa-solid fa-quote-left"></i>
            <h5><em>Cafe Sushi&Pizza – вигідна франшиза доставки їжі. Тепер починати власну справу можна без солідних
                    зв’язків та колосальних фінансових затрат. Адже із нами ви отримуєте шанс на успішний розвиток.
                    Заробляти
                    так просто!</em></h5>
        </div>
    </div>
    <p><b>Для того щоб дізнатись деталі пишіть нам на пошту</b></p>
    <p style="text-align: center;"><a href=""><em><strong>example&#64;example.com</strong></em></a></p>
</div>