<div class="footer-top">
    <div class="logo-container">
        <div class="separator-container">
            <span class="horizontal-separatop"></span>
        </div>
        <div class="logo-img">
            <img src="../../assets/images/main-logo.png" alt="">
        </div>
        <div class="separator-container">
            <span class="horizontal-separatop"></span>
        </div>
    </div>
    <div class="footer-info">
        <div class="footer-info__item">
            <p class="section-title">АДРЕСА</p>
            <ul>
                <li>
                    м. Львів, вул. Кульпарківська 158в, зупинка «Скнилівок» навпроти Ашану
                </li>
                <li>м.Винники, вул. Галицька, 76а</li>
                <li>м.Львів, вул. Червоної Калини 35</li>
                <li>м.Львів, вул. Торф’яна 8а (перехрестя вул. Чорновола)</li>
                <li>с.Сокільники, вул Лесі Українки 19</li>
            </ul>
        </div>
        <div class="footer-info__item">
            <p class="section-title">ЗРОБИТИ ЗАМОВЛЕННЯ</p>
            <p>Замовити їжу з доставкою чи самовивіз</p>
            <ul class="contact-numbers">
                <li>(099) 999-9999</li>
                <li>(099) 999-9999</li>
                <li>(099) 999-9999</li>
            </ul>
        </div>
        <div class="footer-info__item">
            <p class="section-title">МИ ПРАЦЮЄМО БЕЗ ВИХІДНИХ</p>
            <ul>
                <li>
                    <p> м. Львів, вул. Кульпарківська 158в, зупинка «Скнилівок» навпроти Ашану</p>
                    <span>10:00 – 21:30</span>
                </li>
                <li>
                    <p>м.Винники, вул. Галицька, 76а</p>
                    <span>10:30 – 22:00</span>
                </li>
                <li>
                    <p>м.Львів, вул. Червоної Калини 35</p>
                    <span>10:00 – 21:30</span>
                </li>
                <li>
                    <p>м.Львів, вул. Торф’яна 8а (перехрестя вул. Чорновола)</p>
                    <span>Ресторан та доставка: 10:00 – 22:30</span>
                </li>
                <li>
                    <p>с.Сокільники, вул Лесі Українки 19</p>
                    <span>Ресторан та доставка : 11:00 – 22:30</span>
                </li>
                <li>
                    <div class="icons">
                        <a href="">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="container-item">
            <p>Авторське право © 2024 Kvadrat Sushi&Pizza. Всі права захищені.</p>
        </div>
        <div class="container-item">
            <a href="">Договір публічної оферти</a>
        </div>
        <div class="container-item">
            <img src="../../assets/images/footer/visa-mastercard2.png" alt="">
        </div>
    </div>
</div>