<div class="container">
    <div class="login-form-toggle">
        <p class="toggle">Вже замовляли у нас? <a (click)="toggleLogin()">Натисніть сюди, щоби увійти</a></p>
        <div class="login-form" #login>
            <div class="login-form-inner">
                <form [formGroup]="loginForm">
                    <p>Якщо ви купували у нас раніше, будь ласка, введіть свої дані нижче. Якщо ви новий покупець, будь
                        ласка, перейдіть до розділу "Оплата".</p>
                    <div class="inputs">
                        <div class="login">
                            <label for="login">Логін чи e-mail адреса <span class="required">*</span></label>
                            <input type="email" name="" id="login">
                        </div>
                        <div class="password">
                            <label for="login">Пароль <span class="required">*</span></label>
                            <input type="password" name="" id="password">
                        </div>
                    </div>
                    <label for="rememberme" class="rememberme">
                        <input type="checkbox" id="rememberme"><span>Запам'ятати мене</span>
                    </label>
                    <button>УВІЙТИ</button>
                </form>
                <p><a class="lost-password">Втратили свій пароль</a></p>
            </div>
        </div>
    </div>
    <div class="coupon-form-toggle">
        <p class="toggle">Маєте купон на знижки? <a>Натисніть тут, щоб ввести код купона знижки</a></p>
    </div>
    <form [formGroup]="orderForm" novalidate (ngSubmit)="placeOrder()">
        <div class="order-info">
            <div class="order-form">
                <h3>Оплата та доставка</h3>
                <div>
                    <label for="name">Ім'я<span class="required"> *</span></label>
                    <input id="name" formControlName="name">
                </div>
                <div>
                    <label for="phone">Телефон<span class="required"> *</span></label>
                    <input id="phone" formControlName="phoneNumber">
                </div>
                <div>
                    <label>Місто або передмістя<span class="required"> *</span></label>
                    <app-select-search [options]="deliveryOptions"
                        (selectedOptionChanged)="onCityChanged($event)"></app-select-search>
                </div>
                <div>
                    <label for="address">Адреса доставки<span class="required"> *</span></label>
                    <input id="address" formControlName="address">
                </div>
                <div>
                    <label for="order-email">Email<span class="required"> *</span></label>
                    <input id="order-email" formControlName="email">
                </div>
                <div>
                    <label>Країна<span class="required"> *</span></label>
                    <span><strong>Україна</strong></span>
                </div>
                <div>
                    <input type="checkbox">
                    <span>Створити обліковий запис?</span>
                </div>
                <div class="additional-info">
                    <h3>Додаткова інформація</h3>
                    <p>Нотатки до замовлення (необов'язково)</p>
                    <textarea formControlName="additionalInfo"
                        placeholder="Кількість паличок (навчальні чи звичайні?) Деталі по доставці (поверх, код домофону, орієнтири при складному розташуванні будинку)"
                        rows="2" cols="5"></textarea>
                </div>
            </div>
            <div class="order-review">
                <h3>Ваше замовлення</h3>
                <table class="order-review-table">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Проміжний підсумок</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartItems" class="cart-item">
                            <td class="product-name">{{item.title}} <span>× {{item.quantity}}</span></td>
                            <td class="product-total">{{item.price*item.quantity}}₴</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="cart-subtotal">
                            <td><strong>Проміжний підсумок</strong></td>
                            <td>{{getOrderTotal()}}₴</td>
                        </tr>
                        <tr class="delivery">
                            <td><strong>Доставка</strong></td>
                            <td></td>
                        </tr>
                        <tr class="order-total">
                            <td><strong>Загалом</strong></td>
                            <td class="order-total-amount">{{getOrderTotal()}}₴</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="place-order">
                    <p><input type="checkbox" name="" id="terms">
                        <label for="terms">
                            <span> Я прочитав (а) і погоджуюся з правилами сайту <a>правила та умови *</a></span>
                        </label>
                    </p>
                    <button [disabled]="orderForm.invalid">ПІДТВЕРДИТИ ЗАМОВЛЕННЯ</button>
                </div>
            </div>
        </div>
    </form>
</div>