<div class="container">
    <div class="login-form-toggle">
        <p class="toggle">Вже замовляли у нас? <a (click)="toggleLogin()">Натисніть сюди, щоби увійти</a></p>
        <div class="login-form" #login>
            <div class="login-form-inner">
                <form [formGroup]="loginForm">
                    <p>Якщо ви купували у нас раніше, будь ласка, введіть свої дані нижче. Якщо ви новий покупець, будь
                        ласка, перейдіть до розділу "Оплата".</p>
                    <div class="inputs">
                        <div class="login">
                            <label for="login">Логін чи e-mail адреса <span class="required">*</span></label>
                            <input type="email" name="" id="login">
                        </div>
                        <div class="password">
                            <label for="login">Пароль <span class="required">*</span></label>
                            <input type="password" name="" id="password">
                        </div>
                    </div>
                    <label for="rememberme" class="rememberme">
                        <input type="checkbox" id="rememberme"><span>Запам'ятати мене</span>
                    </label>
                    <button>УВІЙТИ</button>
                </form>
                <p><a class="lost-password">Втратили свій пароль</a></p>
            </div>
        </div>
    </div>
    <div class="coupon-form-toggle">
        <p class="toggle">Маєте купон на знижки? <a>Натисніть тут, щоб ввести код купона знижки</a></p>
    </div>
    <form [formGroup]="orderForm" novalidate (ngSubmit)="placeOrder()">
        <div class="order-info">
            <div class="order-form">
                <h3>Оплата та доставка</h3>
                <div>
                    <label for="name">Ім'я<span class="required"> *</span></label>
                    <input id="name" formControlName="name">
                </div>
                <div>
                    <label for="phone">Телефон<span class="required"> *</span></label>
                    <input id="phone" formControlName="phoneNumber">
                </div>
                <div>
                    <label for="city">Місто або передмістя<span class="required"> *</span></label>
                    <select id="city" formControlName="city">
                        <option value="Львів">Львів - 400 грн</option>
                        <option value="Винники">Винники - 300 грн</option>
                        <option value="Сокільники">Сокільники - 300 грн</option>
                        <option value="Бартатів">Бартатів - 1000 грн</option>
                        <option value="Басівка">Басівка - 500 грн</option>
                        <option value="Бережани">Бережани - 600 грн</option>
                        <option value="Бірки">Бірки - 500 грн</option>
                        <option value="Борщовичі">Борщовичі - 650 грн</option>
                        <option value="Брюховичі">Брюховичі - 550 грн</option>
                        <option value="Великі Грибовичі">Великі Грибовичі - 800 грн</option>
                        <option value="Верхня Білка">Верхня Білка - 550 грн</option>
                        <option value="Виннички">Виннички - 450 грн</option>
                        <option value="Воля-Гомулецька">Воля-Гомулецька - 700 грн</option>
                        <option value="Волиця">Волиця - 350 грн</option>
                        <option value="Вороців">Вороців - 550 грн</option>
                        <option value="Гаї">Гаї - 800 грн</option>
                        <option value="Годовиця">Годовиця - 400 грн</option>
                        <option value="Гончари">Гончари - 650 грн</option>
                        <option value="Городок">Городок - 3000 грн</option>
                        <option value="Давидів">Давидів - 550 грн</option>
                        <option value="Діброва">Діброва - 600 грн</option>
                        <option value="Дмитровичі">Дмитровичі - 500 грн</option>
                        <option value="Домажир">Домажир - 550 грн</option>
                        <option value="Дубляни">Дубляни - 800 грн</option>
                        <option value="Жорниська">Жорниська - 650 грн</option>
                        <option value="Зимна Вода">Зимна Вода - 600 грн</option>
                        <option value="Зелів">Зелів - 600 грн</option>
                        <option value="Зубра">Зубра - 500 грн</option>
                        <option value="Івано-Франкове">Івано-Франкове - 800 грн</option>
                        <option value="Кам’янопіль">Кам’янопіль - 500 грн</option>
                        <option value="Ковирі">Ковирі - 600 грн</option>
                        <option value="Кожичі">Кожичі - 450 грн</option>
                        <option value="Конопниця">Конопниця - 700 грн</option>
                        <option value="Куликів">Куликів - 1700 грн</option>
                        <option value="Лапаївка">Лапаївка - 500 грн</option>
                        <option value="Липники">Липники - 700 грн</option>
                        <option value="Лисиничі">Лисиничі - 400 грн</option>
                        <option value="Малехів">Малехів - 500 грн</option>
                        <option value="Малечковичі">Малечковичі - 400 грн</option>
                        <option value="Малі Підліски">Малі Підліски - 1000 грн </option>
                        <option value="Миклашів">Миклашів - 500 грн</option>
                        <option value="Милошевичі">Милошевичі - 600 грн</option>
                        <option value="Муроване">Муроване - 550 грн</option>
                        <option value="Мшана">Мшана - 1200 грн</option>
                        <option value="Наварія">Наварія - 450 грн</option>
                        <option value="Нагоряни">Нагоряни - 500 грн</option>
                        <option value="Нижня Білка">Нижня Білка - 550 грн</option>
                        <option value="Оброшине">Оброшине - 600 грн</option>
                        <option value="Пасіки-Зубрицькі">Пасіки-Зубрицькі - 500 грн</option>
                        <option value="Пикуловичі">Пикуловичі - 500 грн</option>
                        <option value="Підберізці">Підберізці - 450 грн</option>
                        <option value="Підбірці">Підбірці - 400 грн</option>
                        <option value="Підгірне">Підгірне - 400 грн</option>
                        <option value="Підрясне">Підрясне - 450 грн</option>
                        <option value="Поршна">Поршна - 700 грн</option>
                        <option value="Пустомити">Пустомити - 500 грн</option>
                        <option value="Рудне">Рудне - 600 грн</option>
                        <option value="Рясне-Руське">Рясне-Руське - 400 грн</option>
                        <option value="Ситихів">Ситихів - 1500 грн</option>
                        <option value="Скнилів">Скнилів - 400 грн</option>
                        <option value="Солонка">Солонка - 450 грн</option>
                        <option value="Солуки">Солуки - 450 грн</option>
                        <option value="Сороки Львівські">Сороки Львівські - 700 грн</option>
                        <option value="Соснівка">Соснівка - 400 грн</option>
                        <option value="Ставчани">Ставчани - 700 грн</option>
                        <option value="Старе Село">Старе Село - 2000 грн</option>
                        <option value="Страдч">Страдч - 650 грн</option>
                        <option value="Суховоля">Суховоля - 800 грн</option>
                        <option value="Сухоріччя">Сухоріччя - 700 грн</option>
                        <option value="Тарасівка">Тарасівка - 700 грн</option>
                        <option value="Холодновідка">Холодновідка - 500 грн</option>
                        <option value="Чижиків">Чижиків - 550 грн</option>
                        <option value="Чишки">Чишки - 400 грн</option>
                        <option value="Чорнушовичі">Чорнушовичі - 650 грн</option>
                        <option value="Ямельня">Ямельня - 600 грн</option>
                        <option value="Ямпіль">Ямпіль - 500 грн</option>
                    </select>
                </div>
                <div>
                    <label for="address">Адреса доставки<span class="required"> *</span></label>
                    <input id="address" formControlName="address">
                </div>
                <div>
                    <label for="order-email">Email<span class="required"> *</span></label>
                    <input id="order-email" formControlName="email">
                </div>
                <div>
                    <label>Країна<span class="required"> *</span></label>
                    <span><strong>Україна</strong></span>
                </div>
                <div>
                    <input type="checkbox">
                    <span>Створити обліковий запис?</span>
                </div>
                <div class="additional-info">
                    <h3>Додаткова інформація</h3>
                    <p>Нотатки до замовлення (необов'язково)</p>
                    <textarea formControlName="additionalInfo"
                        placeholder="Кількість паличок (навчальні чи звичайні?) Деталі по доставці (поверх, код домофону, орієнтири при складному розташуванні будинку)"
                        rows="2" cols="5"></textarea>
                    <app-select-search [options]="deliveryOptions"
                        (selectedOptionChanged)="onCityChanged($event)"></app-select-search>
                </div>
            </div>
            <div class="order-review">
                <h3>Ваше замовлення</h3>
                <table class="order-review-table">
                    <thead>
                        <tr>
                            <th>Товар</th>
                            <th>Проміжний підсумок</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of cartItems" class="cart-item">
                            <td class="product-name">{{item.title}} <span>× {{item.quantity}}</span></td>
                            <td class="product-total">{{item.price*item.quantity}}₴</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="cart-subtotal">
                            <td><strong>Проміжний підсумок</strong></td>
                            <td>{{getOrderTotal()}}₴</td>
                        </tr>
                        <tr class="delivery">
                            <td><strong>Доставка</strong></td>
                            <td></td>
                        </tr>
                        <tr class="order-total">
                            <td><strong>Загалом</strong></td>
                            <td class="order-total-amount">{{getOrderTotal()}}₴</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="place-order">
                    <p><input type="checkbox" name="" id="terms">
                        <label for="terms">
                            <span> Я прочитав (а) і погоджуюся з правилами сайту <a>правила та умови *</a></span>
                        </label>
                    </p>
                    <button [disabled]="orderForm.invalid">ПІДТВЕРДИТИ ЗАМОВЛЕННЯ</button>
                </div>
            </div>
        </div>
    </form>
</div>