app-product-cart {
  position: relative;
  z-index: 50;
}

header,
main,
footer {
  position: relative;
}

header {
  z-index: 15;
}

main {
  z-index: 10;
}

.footer {
  z-index: 5;
}

app-bottom-panel {
  display: none;
}

@media (max-width: 1100px) {
  app-bottom-panel {
    display: block;
  }
}
