<div class="sticky-top-panel">
    <div class="categories">
        <div class="categories__item">
            <app-top-panel-category [categoryTitle]="'СУШІ ТА РОЛИ'"
                [imageUri]="'../../assets/images/product_categories/sushi.png'"></app-top-panel-category>
        </div>
        <div class="categories__item">
            <app-top-panel-category [categoryTitle]="'СУШІ БУРГЕРИ'"
                [imageUri]="'../../assets/images/product_categories/sushi-burgers.png'"></app-top-panel-category>
        </div>
        <div class="categories__item">
            <app-top-panel-category [categoryTitle]="'СЕТИ'"
                [imageUri]="'../../assets/images/product_categories/sushi-sets.png'"></app-top-panel-category>
        </div>
        <div class="categories__item">
            <app-top-panel-category [categoryTitle]="'БУРГЕРИ'"
                [imageUri]="'../../assets/images/product_categories/hamburgers.png'"></app-top-panel-category>
        </div>
        <div class="categories__item">
            <app-top-panel-category [categoryTitle]="'ПІЦА'"
                [imageUri]="'../../assets/images/product_categories/pizzas.png'"></app-top-panel-category>
        </div>
        <div class="categories__item">
            <app-top-panel-category [categoryTitle]="'СУПИ'"
                [imageUri]="'../../assets/images/product_categories/soups.png'"></app-top-panel-category>
        </div>
        <div class="categories__item">
            <app-top-panel-category [categoryTitle]="'САЛАТИ'"
                [imageUri]="'../../assets/images/product_categories/salads.png'"></app-top-panel-category>
        </div>
        <div class="categories__item">
            <app-top-panel-category [categoryTitle]="'СНЕКИ'"
                [imageUri]="'../../assets/images/product_categories/snacks.png'"></app-top-panel-category>
        </div>
        <div class="categories__item">
            <app-top-panel-category [categoryTitle]="'НАПОЇ'"
                [imageUri]="'../../assets/images/product_categories/drinks.png'"></app-top-panel-category>
        </div>
        <div class="categories__item">
            <app-top-panel-category [categoryTitle]="'ДОДАТКИ'"
                [imageUri]="'../../assets/images/product_categories/applications.png'"></app-top-panel-category>
        </div>
    </div>
</div>