<div class="sticky-top-panel">
    <div class="categories">
        <div class="categories__item" routerLink="/sushi-and-rols" appScrollToTop>
            <app-top-panel-category [categoryTitle]="'Суші та роли'"
                [imageUri]="'../../assets/images/product_categories/sushi.png'"></app-top-panel-category>
        </div>
        <div class="categories__item" routerLink="/sushi-burgers" appScrollToTop>
            <app-top-panel-category [categoryTitle]="'Суші Бургери'"
                [imageUri]="'../../assets/images/product_categories/sushi-burgers.png'"></app-top-panel-category>
        </div>
        <div class="categories__item" routerLink="/sushi-sets" appScrollToTop>
            <app-top-panel-category [categoryTitle]="'Сети'"
                [imageUri]="'../../assets/images/product_categories/sushi-sets.png'"></app-top-panel-category>
        </div>
        <div class="categories__item" routerLink="/burgers" appScrollToTop>
            <app-top-panel-category [categoryTitle]="'Бургери'"
                [imageUri]="'../../assets/images/product_categories/hamburgers.png'"></app-top-panel-category>
        </div>
        <div class="categories__item" routerLink="/pizza" appScrollToTop>
            <app-top-panel-category [categoryTitle]="'Піца'"
                [imageUri]="'../../assets/images/product_categories/pizzas.png'"></app-top-panel-category>
        </div>
        <div class="categories__item" routerLink="/soups" appScrollToTop>
            <app-top-panel-category [categoryTitle]="'Супи'"
                [imageUri]="'../../assets/images/product_categories/soups.png'"></app-top-panel-category>
        </div>
        <div class="categories__item" routerLink="/salads" appScrollToTop>
            <app-top-panel-category [categoryTitle]="'Салати'"
                [imageUri]="'../../assets/images/product_categories/salads.png'"></app-top-panel-category>
        </div>
        <div class="categories__item" routerLink="/snacks" appScrollToTop>
            <app-top-panel-category [categoryTitle]="'Снеки'"
                [imageUri]="'../../assets/images/product_categories/snacks.png'"></app-top-panel-category>
        </div>
        <div class="categories__item" routerLink="/drinks" appScrollToTop>
            <app-top-panel-category [categoryTitle]="'Напої'"
                [imageUri]="'../../assets/images/product_categories/drinks.png'"></app-top-panel-category>
        </div>
        <div class="categories__item" routerLink="/applications" appScrollToTop>
            <app-top-panel-category [categoryTitle]="'Додатки'"
                [imageUri]="'../../assets/images/product_categories/applications.png'"></app-top-panel-category>
        </div>
    </div>
</div>