@import "variables";

.sticky-top-panel {
  margin-top: 0.2rem;
  position: sticky;
  top: -1px;
  background-color: white;
  padding-bottom: 1rem;
  z-index: 10;
}

.categories__item {
  width: 10%;
}

.categories {
  display: flex;
  margin: 0 2rem;
}

@media (max-width: 1100px) {
  .sticky-top-panel {
    margin: 0;
  }
  .categories {
    overflow-x: scroll;
    margin: 0;
  }
  .categories::-webkit-scrollbar {
    display: none;
  }
  .categories__item {
    width: auto;
    flex: 1;
    margin: 0.3125rem;
    &:not(:first-child) {
      margin-inline-start: 0.6px;
    }
    &:not(:last-child) {
      margin-inline-end: 0.6px;
    }
  }
}
