@import "variables";

.sticky-top-panel {
  margin-top: 0.2rem;
  position: sticky;
  top: 0;
  background-color: white;
  padding-bottom: 1rem;
  z-index: 1000;
}

.categories__item {
  width: 10%;
}

.categories {
  display: flex;
  margin: 0 2rem;
}
