<div class="container">
    <h1>Безкоштовно доставляємо по Львову та за місто</h1>
    <p>Замовлення приймаємо <b>з 10:00 до 22:30</b></p>
    <p>Після приготування ми миттєво запаковуємо страви та у спеціальних термо-сумках доставляємо їх до тебе. Щоб ти
        якомога швидше міг відчути неперевершений смак страв від <b>KVADRAT SUSHI&PIZZA</b></p>
    <p><b>Оплатити замовлення можна:</b></p>
    <ul>
        <li>картою при отриманні замовлення</li>
        <li>готівкою при отриманні замовлення</li>
    </ul>
    <div class="center">
        <h3>Після 21:30 доставляємо лише у Львів, Винники та Сокільники.</h3>
        <h3>Сума мінімального замовлення в цей час – 600 грн</h3>
        <h2>Мінімальні суми замовлень в населених пунктах:</h2>
        <div class="cities">
            <h2>City 1 - XXX UAH</h2>
            <h2>City 2 - XXX UAH</h2>
            <h2>City 3 - XXX UAH</h2>
            <p>City 4 - XXX UAH</p>
            <p>City 5 - XXX UAH</p>
            <p>City 6 - XXX UAH</p>
            <p>City 7 - XXX UAH</p>
            <p>City 8 - XXX UAH</p>
            <p>City 9 - XXX UAH</p>
            <p>City 10 - XXX UAH</p>
            <p>City 11 - XXX UAH</p>
            <p>City 12 - XXX UAH</p>
            <p>City 13 - XXX UAH</p>
            <p>City 14 - XXX UAH</p>
            <p>City 15 - XXX UAH</p>
            <p>City 16 - XXX UAH</p>
            <p>City 17 - XXX UAH</p>
        </div>
    </div>
</div>