<div class="container">
    <h1>Зв'яжіться з нами</h1>
    <p class="slogan">Kvadrat Sushi&Pizza – задоволення в квадраті!</p>
    <div class="contacts">
        <div class="contacts--item">
            <span class="caption">Телефони:</span>
            <a>(099) 999-9999</a>
            <a>(099) 999-9999</a>
            <a>(099) 999-9999</a>
        </div>
        <div class="contacts--item addresses">
            <span class="caption">Адреси:</span>
            <p>
                м. Львів, вул. Кульпарківська, 158в, зупинка «Скнилівок» навпроти Ашану
                <br>
                <span>10:00 – 21:30</span>
                <br>
                м. Винники, вул. Галицька, 76а
                <br>
                <span>10:30 – 21:30</span>
                <br>
                м.Львів, вул. Червоної Калини 35
                <br>
                <span>10:00 – 21:30</span>
                <br>
                м.Львів, вул. Торф'яна 8а (перехрестя вул. Чорновола)
                <br>
                <span>10:00 – 22:30</span>
                <br>
                с.Сокільники, вул Лесі Українки 19
                <br>
                <span>11:00 – 22:30</span>
            </p>
        </div>
        <div class="contacts--item">
            <span class="caption">Email:</span>
            <a>kvadrat.sushi&#64;gmail.com</a>
        </div>
    </div>
</div>