$font-size-category-title: 0.8rem;

.category-container {
  text-align: center;
}

.category-img {
  margin-bottom: 0.7rem;
  img {
    width: 3.5vw;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scale(0.9);
    }
  }
}

.category-title {
  margin: 0;
  font-size: $font-size-category-title;
  font-weight: bold;
  a {
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
}

@keyframes shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
