<div class="navbar">
    <div class="container">
        <div class="img-wrapper">
            <img src="../../assets/images/main-logo.png" alt="">
        </div>
        <ul class="navbar-links">
            <li class="navbar-links__item">
                <a href="#"> Про нас</a>
            </li>
            <li class="navbar-links__item">
                <a href="#">Акції</a>
            </li>
            <li class="navbar-links__item">
                <a href="#">Оплата і доставка</a>
            </li>
            <li class="navbar-links__item">
                <a href="#">Контакти</a>
            </li>
        </ul>
    </div>
</div>