/* Colors */
$primary-color: #d51116; //rgb(213, 17, 22);
$secondary-color: white;
$hover-color: #b70c10;
$dropdown-bg-color: #f7f7f7;
$footer-background-color: #181818;
$table-border: #e5e5e5;
/* Text */
$font-color-dark-gray: #808080; //rgb 128,128,128
$font-color-gray: #b0b0b0;
$font-size-xsmall: 0.8rem;
$font-size-small: 0.875rem;
$font-size-large: 1.1rem;
$font-family-bold: "Gilroy-Bold";
