/* Colors */
$primary-color: #d51116;
$secondary-color: white;
$hover-color: #b70c10;
$dropdown-bg-color: #f7f7f7;
$footer-background-color: #181818;

/* Text */
$font-color: black;
$font-size-xsmall: 0.8rem;
$font-size-small: 0.875rem;
$font-size-large: 1.1rem;
$font-family-bold: "Gilroy-Bold";
